<div id="main_content_wrapper">
	<div id="the_tag_cloud">
		<% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
		  <%= link_to tag.name, stickers_tag_index_path(:tag => tag.name), :class => css_class %>
		<% end %>
	</div>
</div>