<div id="main_content_wrapper">
 <div class="page" >
  <h2>What is Stickerthings?</h2>
  <p>It's a growing collection of cut-out people, plants, pets and other things ready to stick into your designs! All the stickers are high resolution PNG files, with transparent backgrounds to save on valuable photoshop time. Best of all, they're completely free to use as much as you want.</p>
  <h2>Who are they for?</h2>
  <p>Architects! Landscape Architects! Interior Designers! Industrial Designers! Anyone! As an (almost ex) architecture student, I know how time consuming it can be to have to carefully crop out backgrounds to create your own cut-outs. So save yourself some photoshop time and use mine instead! Your renders will thank you. </p>
  <h2>How do I use them?</h2>
  <p>You can browse all the stickers from the <%=link_to('home', root_path) %> page, or search for specific things via the tags on the <%=link_to('categories', categories_path) %> page. Once you find a sticker you like, click on it to link through to the high resolution version, then just right click and 'Save Image As'.</p>
  <h2>Is it free?</h2>
  <p>Yep, all the stickers are free to use for creative work (educational or commercial), with no sign-up required.</p>
 </div>
</div>