<div id="main_content_wrapper">
  <%= image_tag(@sticker.sticker.url, class: "show_sticker_image") %>
  <br/>
  <br/>
  <br/>
  <br/>
  <span id="instructions">
  Right click and 'Save Image As' to save the full resolution sticker above to your computer.
  </span>
    <br/>
  <br/>
  <br/>
  <div class="back_button">
   <%= link_to("back", :back) %>
  </div>
</div>