<div id='menu_bar'>
 <nav>
	  <div id='site_title'>
	  <span id='actual_title'>
	    <%= link_to('Stickerthings', root_path) %>
	  </span>

	  		<span id='categories'>
					<%= link_to('categories', categories_path) %>
				</span>
				<span id='faq'>
					<%= link_to('f.a.q', faq_path) %>
				</span>
	  </div>
	</nav>
</div>